In [53]:
import pandas as pd

nzdep1991 = pd.read_csv("NZDep1991CAU.txt", sep="\t", index_col="CAU", header=0, names=["CAU", "NZDep1991 CAU score", "NZDep1991 CAU scale", "NZDep1991 pop"])
nzdep1991

        NZDep1991 CAU score  NZDep1991 CAU scale  NZDep1991 pop
CAU
500100                 1129                   10            333
500202                 1085                    9           3183
500203                 1045                    8           1233
500204                 1054                    8           1593
500205                 1083                    9            894
...                     ...                  ...            ...
626801                    0                    0              0
626802                    0                    0              0
626900                    0                    0              0
627000                    0                    0              0
627200                    0                    0              0

[1716 rows x 3 columns]

In [54]:
nzdep1996 = pd.read_csv("NZDep1996CAU.txt", sep="\t", header=0, names=["CAU", "NZDep1996 CAU name", "NZDep1996 CAU score", "NZDep1996 CAU scale", "NZDep1996 CAU pop"], index_col="CAU")
nzdep1996

,NZDep1996 CAU name,NZDep1996 CAU score,NZDep1996 CAU scale,NZDep1996 CAU pop
CAU,,,,
500100,Awanui,1121,10,352.0
500202,Mangonui East,1091,9,3838.0
500203,Taipa Bay-Mangonui,1040,8,1494.0
500204,Mangonui West,1074,9,1943.0
500205,Ahipara,1131,10,923.0
...,...,...,...,...
626900,Oceanic-Oil Rigs,0,0,0.0
627000,Inlet-Jacobs River Estuary,0,0,0.0
627200,Oceanic-Southland Region,1029,8,50.0
628000,Ross Dependency,0,0,0.0
666666,NZ Economic Zone,0,0,0.0

In [55]:
nzdep2001 = pd.read_csv("NZDep2001CAU.txt", sep="\t", header=0, names=["CAU", "NZDep2001 CAU name", "NZDep2001 CAU scale", "NZDep2001 CAU score"], index_col="CAU")
nzdep2001

                NZDep2001 CAU name  NZDep2001 CAU scale  NZDep2001 CAU score
CAU
500100                      Awanui                 10.0               1117.0
500202               Mangonui East                  9.0               1101.0
500203          Taipa Bay-Mangonui                  9.0               1071.0
500204               Mangonui West                  9.0               1075.0
500205                     Ahipara                  9.0               1100.0
...                            ...                  ...                  ...
626900   Oceanic-Oil Rig Southland                  NaN                  NaN
627000  Inlet-Jacobs River Estuary                  NaN                  NaN
627201    Oceanic-Southland Region                  NaN                  NaN
627203    Oceanic-Auckland Islands                  NaN                  NaN
627204            Auckland Islands                  NaN                  NaN

[1852 rows x 3 columns]

In [56]:
nzdep2006 = pd.read_csv("NZDep2006CAU.txt", sep="\t", header=0, names=["CAU", "NZDep2006 CAU name", "NZDep2006 CAU scale", "NZDep2006 CAU score"], index_col="CAU")
nzdep2006

,NZDep2006 CAU name,NZDep2006 CAU scale,NZDep2006 CAU score
CAU,,,
500100,Awanui,9.0,1086.0
500202,Karikari Peninsula-Maungataniwha,9.0,1073.0
500203,Taipa Bay-Mangonui,8.0,1047.0
500204,Herekino,8.0,1044.0
500205,Ahipara,9.0,1082.0
...,...,...,...
666669,Bounty Islands,NaN,NaN
666670,Oceanic-Snares Islands,NaN,NaN
666671,Snares Island,NaN,NaN
666672,Oceanic-Antipodes Islands,NaN,NaN
666673,Antipodes Islands,NaN,NaN

In [57]:
nzdep2013 = pd.read_csv("NZDep2013CAU.txt", sep="\t", header=0, names=["CAU", "NZDep2013 CAU name", "NZDep2013 CAU scale", "NZDep2013 CAU score"], index_col="CAU")
nzdep2013

,NZDep2013 CAU name,NZDep2013 CAU scale,NZDep2013 CAU score
CAU,,,
500100,Awanui,9,1100
500202,Karikari Peninsula-Maungataniwha,9,1085
500203,Taipa Bay-Mangonui,9,1065
500204,Herekino,8,1054
500205,Ahipara,9,1088
...,...,...,...
612740,Fairfax,3,933
612801,Riverton East,8,1049
612802,Riverton West,6,987
612901,Fiordland,3,930
613000,Stewart Island,4,956

In [58]:
df = nzdep1991.join([nzdep1996, nzdep2001, nzdep2006, nzdep2013], how="outer")
df.to_csv("NZDep 1991-2013 CAU_merged.csv")